In [2]:
# +=
a = [1,2,3,4,5]

In [3]:
id(a)

3009021634624

In [4]:
a += range(10, 20, 2)
a

[1, 2, 3, 4, 5, 10, 12, 14, 16, 18]

In [5]:
#append, prepend, insert
a = [1,2,3,4,5]
a.insert(3, 100)
a

[1, 2, 3, 100, 4, 5]

In [6]:
a.insert(3, [100,200])

In [7]:
a

[1, 2, 3, [100, 200], 100, 4, 5]

In [8]:
a.insert(3, 100,200)

TypeError: insert expected 2 arguments, got 3

In [9]:
a.insert(-1, 100)

In [10]:
a

[1, 2, 3, [100, 200], 100, 4, 100, 5]

In [11]:
a = [10, 20, 30]
a.insert(100, 'ali')
a

[10, 20, 30, 'ali']

In [12]:
a.insert(-100, 'veli')
a

['veli', 10, 20, 30, 'ali']

In [13]:
# pop
a.pop()

'ali'

In [14]:
a

['veli', 10, 20, 30]

In [15]:
a = [10, 20, 30]
a.pop(-1)

30

In [16]:
a

[10, 20]

In [17]:
# clear
a = [10, 20, 30]
a.clear()

In [18]:
a

[]

In [19]:
id(a)

3009051752960

In [20]:
a.extend(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
id(a)

3009051752960

In [22]:
# remove
a = [10, 20, 'Ali', 'Selami', 30]
a.remove('Ali')
a

[10, 20, 'Selami', 30]

In [23]:
a.remove(20)
a

[10, 'Selami', 30]

In [24]:
a.remove('xxx')

ValueError: list.remove(x): x not in list

In [25]:
# index
a = [10, 20, 30, 'Ali', 'Veli', 40, 'Selami']
a.index(30)

2

In [26]:
a.index(40, 4) # ikinci argüman listenin kaçıncı indeksinden başlanacağını belirtir.

5

In [27]:
a.index(10, 4) # var olan bir elemanı yok olarak gösterdi çünkü 4. indeksten başlattık.

ValueError: 10 is not in list

In [28]:
a.index(40, 2, 5)

ValueError: 40 is not in list

In [29]:
# count
a = [1, 2, 2, 5, 2, 9]
a.count(2)

3

In [30]:
# sort - ascending
a = [13, 4, 43, 21, 45, 78]
a.sort()
a

[4, 13, 21, 43, 45, 78]

In [31]:
a.sort(reverse=True) #descending
a

[78, 45, 43, 21, 13, 4]

In [32]:
names = ['selami', 'ali', 'veli', 'sacit', 'burhan']
names

['selami', 'ali', 'veli', 'sacit', 'burhan']

In [33]:
names.sort()

In [34]:
names

['ali', 'burhan', 'sacit', 'selami', 'veli']

In [35]:
# inplace
names = ['şamil', 'ilayda', 'ahmet', 'çelik', 'mansur']
names

['şamil', 'ilayda', 'ahmet', 'çelik', 'mansur']

In [36]:
names.sort()
names

['ahmet', 'ilayda', 'mansur', 'çelik', 'şamil']

In [37]:
names = ['ALİ', 'ayşe', 'FATMA', 'Selami', 'veli']
names.sort()

In [38]:
names

['ALİ', 'FATMA', 'Selami', 'ayşe', 'veli']

In [39]:
names.sort(key = str.lower)
names

['ALİ', 'ayşe', 'FATMA', 'Selami', 'veli']

In [40]:
x = [34, 23, 1, 17, 45]

y = sorted(x) # in-place
y

[1, 17, 23, 34, 45]

In [41]:
x

[34, 23, 1, 17, 45]

In [42]:
y

[1, 17, 23, 34, 45]

In [43]:
sorted('istanbul')

['a', 'b', 'i', 'l', 'n', 's', 't', 'u']

In [44]:
y = sorted(x, reverse=True)
y

[45, 34, 23, 17, 1]

In [45]:
# reversed

In [46]:
# copy

a = [1, 2, 3]
b = a.copy()
a

[1, 2, 3]

In [47]:
b

[1, 2, 3]

In [48]:
id(a)

3009052231808

In [49]:
id(b)

3009052403840

In [50]:
id(a[0])

140706896489376

In [51]:
id(b[0])

140706896489376

In [52]:
a

[1, 2, 3]

In [53]:
b

[1, 2, 3]

In [54]:
a.append(100)
a

[1, 2, 3, 100]

In [55]:
b

[1, 2, 3]

In [56]:
a = [1,2,3,4,5]
b = a[:]
c = a.copy()
a

[1, 2, 3, 4, 5]

In [57]:
b

[1, 2, 3, 4, 5]

In [58]:
c

[1, 2, 3, 4, 5]

In [59]:
m = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]
m

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [60]:
m[3][2]

12

In [61]:
m[1][0]

4

### Demetler (Tuples)

dizilimsel veri yapıları (sequence container)

In [62]:
t = (10, 'Ali', 12.4)
t

(10, 'Ali', 12.4)

In [63]:
type(t)

tuple

In [64]:
t = (1, [2, 3, 4], 'Ali')
t

(1, [2, 3, 4], 'Ali')

In [65]:
a = [1, (2,3,4), 'Ali']
a

[1, (2, 3, 4), 'Ali']

In [66]:
t = (10, 20, 30)
t[0]

10

In [67]:
t[1]

20

In [68]:
t[1:3]

(20, 30)

demetlerin listelerden en önemli farklı demetlerin değiştirilemez (immutable) olmasıdır.

In [69]:
t = (10, 20, 30, 40, 50)
t[1] = 'Ali'

TypeError: 'tuple' object does not support item assignment

In [70]:
t = (1, 2, [3,4], 5)
t

(1, 2, [3, 4], 5)

In [71]:
t[2] = [6, 7]

TypeError: 'tuple' object does not support item assignment

In [72]:
t[2][0] = 100
t

(1, 2, [100, 4], 5)

In [73]:
a = (10, [20, 30, 40], 50)
a[1].append(100)

In [74]:
a

(10, [20, 30, 40, 100], 50)

In [75]:
t = ('Ali', 123, 'Veli', 12.4)
a = list(t)
t

('Ali', 123, 'Veli', 12.4)

In [76]:
a

['Ali', 123, 'Veli', 12.4]

In [77]:
t = (1, 2, [3,4], 5)
a = list(t)
id(t[0])

140706896489376

In [78]:
id(a[0])

140706896489376

In [79]:
t

(1, 2, [3, 4], 5)

In [80]:
a

[1, 2, [3, 4], 5]

In [81]:
a[2][0] = 100

In [82]:
t

(1, 2, [100, 4], 5)

In [83]:
a

[1, 2, [100, 4], 5]

In [84]:
t = tuple('ankara')

In [85]:
t

('a', 'n', 'k', 'a', 'r', 'a')

In [86]:
a = [1, 2, 3, 4, 5]
t = tuple(a)
a

[1, 2, 3, 4, 5]

In [87]:
t

(1, 2, 3, 4, 5)

In [88]:
a = [1, 2, 3, 4, 5]
t = tuple(a)

In [90]:
a[0] = 100
a

[100, 2, 3, 4, 5]

In [91]:
t

(1, 2, 3, 4, 5)

In [93]:
t = ()
t

()

In [94]:
t = tuple()
t

()

In [100]:
t = (100, )
t

(100,)

In [101]:
type(t)

tuple

In [96]:
t = (100)

In [97]:
t

100

In [98]:
type(t)

int

In [102]:
t

(100,)

In [103]:
len(t)

1

In [104]:
t = 'Ali', 123, 'Veli', 34.6
t

('Ali', 123, 'Veli', 34.6)

In [105]:
t   = 'Ali',
t

('Ali',)

In [106]:
print(10, 20)

10 20

In [107]:
print((10,20))

(10, 20)

In [108]:
a = [1, 2, 3, 4, 5]

In [109]:
a = [1, 2, (3, 4), 5]

In [110]:
a = (10, 20), 30, 40

In [111]:
a

((10, 20), 30, 40)

In [112]:
# demetler değiştirilebilir nesneler olmadıkları için append, insert, remove, erase gibi metotlara sahip değildir.

In [113]:
a = (10, 20 , 30 , 40 ,30)
a.index(30)

2

In [114]:
a.index(100)

ValueError: tuple.index(x): x not in tuple

In [115]:
a.count(30)

2

In [116]:
a = (1, 'Ali', 2)
b = (3, 'Veli', 4)
c = a + b

In [117]:
c

(1, 'Ali', 2, 3, 'Veli', 4)

In [118]:
# a + b
# a += b

In [120]:
a = (1, 'Ali', 2)
b = (3, 'Veli', 4)

In [121]:
id(a)

3009051938880

In [122]:
id(b)

3009051304832

In [123]:
a = a + b

In [124]:
id(a)

3009051699712

In [125]:
t = (1, 'Ali', 2)
k = t[:]
t

(1, 'Ali', 2)

In [126]:
k

(1, 'Ali', 2)

In [127]:
t = (1, 'Ali', 2)
k = t[:]

In [128]:
id(t)

3009052478784

In [129]:
id(k)

3009052478784

In [130]:
t = 1, 2, 3
t * 2

(1, 2, 3, 1, 2, 3)

In [131]:
t

(1, 2, 3)

In [132]:
(10, 20) * 2

(10, 20, 10, 20)

In [133]:
t = (10, 'Ali', 12.4)
10 in t

True

In [134]:
'Ali' in t

True

In [135]:
20 in t

False

In [136]:
20 not in t

True

### Range Sınıfı

range(start, stop, step)

In [137]:
r = range(10)

In [138]:
r

range(0, 10)

In [139]:
a = list(r)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [140]:
r = range(10, 20)
a = list(r)
a

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [141]:
r = range(10, 20, 2)
t = tuple(r)
t

(10, 12, 14, 16, 18)

In [142]:
r = range(0, 10, 0.1)
r

TypeError: 'float' object cannot be interpreted as an integer

In [143]:
a = [1, 2, 3, 4, 5]
a[2:4] = range(10)
a

[1, 2, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [144]:
a = [10, 20, 30]
a.extend(range(40, 110, 10))
a

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [146]:
a = list(range(10, 10))
a

[]

In [147]:
a = list(range(20, 10, 2))
a

[]

In [148]:
a = list(range(10, 0, -1))
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [149]:
a = range(10)
len(a)

10

In [150]:
r = range(10, 20)

In [151]:
i = r.index(15)
i

5

In [152]:
c = r.count(15)
c

1

### Veri Yapılarının Açılması (Unpacking)

Dolaşılabilir bir nesnenin elemanları unpacking denilen bir işlem ile pratik bir biçimde değişkenlere atanabilmektedir. 

1) [x, y, z, ...] = dolaşılabilir nesne
2) (x, y, z, ...) = dolaşılabilir nesne

In [153]:
x = [1, 2, 3]
[a, b, c] = x

In [154]:
a

1

In [155]:
b

2

In [156]:
c

3

In [157]:
x = [1, 2, 3]
(a, b, c) = x

In [158]:
a

1

In [159]:
b

2

In [160]:
c

3

In [161]:
a, b, c = x

In [162]:
a

1

In [163]:
b

2

In [164]:
c

3

In [165]:
x

[1, 2, 3]

In [166]:
a, b = x

ValueError: too many values to unpack (expected 2)

In [167]:
a, b, c = [1, [2, 3, 4], 5]
a

1

In [168]:
b

[2, 3, 4]

In [169]:
c

5

In [170]:
a, [b, c, d], e = [1, [2, 3, 4], 5]

In [171]:
a

1

In [172]:
b

2

In [173]:
c

3

In [174]:
d

4

In [175]:
e

5

In [176]:
x = [1, 2, 3, 4, 5]
a, b = x[2:4]
a

3

In [177]:
b

4

In [178]:
a, b, c = 'ali'
a

'a'

In [179]:
b

'l'

In [180]:
c

'i'

In [181]:
a, b, c = reversed('ali')

In [182]:
a

'i'

In [183]:
b

'l'

In [184]:
c

'a'

In [185]:
a, b, c, d, e = range(10, 15)
a

10

In [186]:
b

11

In [187]:
c

12

In [188]:
d

13

In [189]:
e

14

In [190]:
a = 10; b = 20
b, a = a, b

In [191]:
a

20

In [192]:
b

10

### KÜMELER