In [2]:
# join 
s = ','
k = s.join(['Ali', 'Veli', 'Selami'])
k

'Ali,Veli,Selami'

In [3]:
s = ','.join(['Ali', 'Veli', 'Selami'])
print(s)

Ali,Veli,Selami

In [4]:
s = '+'.join('1234')
s

'1+2+3+4'

In [6]:
s = 'xxxx'.join('1234')
s

'1xxxx2xxxx3xxxx4'

In [9]:
s = 'ali, veli, selami, ayşe, fatma'
k = s.split(', ')
k

['ali', 'veli', 'selami', 'ayşe', 'fatma']

In [8]:
type(k)

list

In [10]:
date = '13/12/2018'
s = date.split('/')
s

['13', '12', '2018']

In [11]:
path = '/home/oguz/study/python/sample.py'
s = path.rsplit('/')

In [12]:
s

['', 'home', 'oguz', 'study', 'python', 'sample.py']

In [13]:
s = path.rsplit('/', 1)

In [14]:
s

['/home/oguz/study/python', 'sample.py']

In [15]:
s = path.rsplit('/', 2)

In [16]:
s

['/home/oguz/study', 'python', 'sample.py']

In [17]:
s = 'aliveliselami'
k = s.partition('veli')
k

('ali', 'veli', 'selami')

In [18]:
s = 'aliveliselami'
left, middle, right = s.partition('veli')
print(left, middle, right)

ali veli selami

In [19]:
left

'ali'

In [20]:
middle

'veli'

In [21]:
right

'selami'

In [22]:
s = 'aliveliselamivelisacit'
k = s.partition('veli')
k

('ali', 'veli', 'selamivelisacit')

In [23]:
type(k)

tuple

In [26]:
s = 'bu dersi veren beyzadır alan da oğuzhandır'
k = s.replace('beyzadır', 'oğuzhandır')
k

'bu dersi veren oğuzhandır alan da oğuzhandır'

In [27]:
s = 'ankara'
result = s.startswith('an')
result

True

In [28]:
result = s.startswith('is')

In [29]:
result

False

In [30]:
s.endswith('ra')

True

In [31]:
s = 'ali'
k = 'veli'
z = s + k
z

'aliveli'

In [32]:
s = 'ali'
s += 'veli'

In [33]:
s

'aliveli'

In [34]:
s = 'ali'
s = s + 'veli'
s

'aliveli'

In [35]:
s = 'ankara'
k = s * 10
k

'ankaraankaraankaraankaraankaraankaraankaraankaraankaraankara'

In [36]:
s *= 3

In [37]:
s

'ankaraankaraankara'

In [38]:
s = 'ankara'

In [39]:
id(s)

2065810695408

In [40]:
s *= 3

In [41]:
id(s)

2065810945248

In [42]:
s

'ankaraankaraankara'

In [43]:
s = 'AnKaRa'
k = s.upper()
k

'ANKARA'

In [44]:
k = s.lower()
k

'ankara'

In [45]:
# rstrip, lstrip()
s = '    bugün hava çok soğuk   '
k = s.rstrip()
m = s.lstrip()
z = s.strip()
k

'    bugün hava çok soğuk'

In [46]:
m

'bugün hava çok soğuk   '

In [47]:
z

'bugün hava çok soğuk'

In [48]:
s = 'ankara'
k = 'izmir'

s == k

False

In [49]:
s != k

True

In [50]:
s > k

False

In [51]:
s < k

True

In [52]:
# format metotu
a = 10
b = 20
s = 'a = {0}, b = {1}'.format(a, b)
s

'a = 10, b = 20'

In [53]:
s = 'a = {0}, b = {1}, a + b = {0} + {1}'.format(a, b)

In [54]:
s

'a = 10, b = 20, a + b = 10 + 20'

In [55]:
s = 'a = {}, b = {}'.format(a, b)
s

'a = 10, b = 20'

In [56]:
s = 'a = {}, b = {1}'.format(a, b)
s

ValueError: cannot switch from automatic field numbering to manual field specification

In [57]:
# String Enterpolasyonu --> f, F 
a = 10; b = 20
s = f'a = {a}, b = {b}'
s

'a = 10, b = 20'

In [58]:
a = 10; b = 20
s = f'a square = {a * a}, b square = {b * b}'
s

'a square = 100, b square = 400'

In [59]:
# DEL deyimi
# Python'da değişkenler ve bazı veri yapılarının elemanları del deyimi ile silinebilmektedir. 
# del <değişken listesi>
x = 10
del x
print(x)

NameError: name 'x' is not defined

In [60]:
a = 10; b = 20
del a, b

In [61]:
a

NameError: name 'a' is not defined

In [62]:
b

NameError: name 'b' is not defined

In [63]:
a = [1, 2, 3, 4, 5]
b = a
del a

In [64]:
a

NameError: name 'a' is not defined

In [65]:
b
# Garbage Collector

[1, 2, 3, 4, 5]

In [66]:
a = [1, 2, 3, 4, 5]
del a[3]
a

[1, 2, 3, 5]

In [67]:
del a[0], a[2] # --> pop, remove
a

[2, 3]

In [68]:
a = [1, 2, 3, 4, 5]
del a[2:4]
a

[1, 2, 5]

In [70]:
a = [1, 2, 3, 4, 5]
a[2:4] = []
a

[1, 2, 5]

In [72]:
a = {'ali': 1, 'veli': 2, 'selami': 3, 'ayşe': 4, 'fatma': 5}
del a['ali'], a['fatma']
a

{'veli': 2, 'selami': 3, 'ayşe': 4}

In [73]:
s = 'ali'
del s[0]

TypeError: 'str' object doesn't support item deletion

In [74]:
t = 10, 20
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [75]:
a = {1, 2, 3, 4, 5}
del a[1]

TypeError: 'set' object doesn't support item deletion

In [76]:
# Farklı Türlerin Birbirleriyle Karşılaştırılması
# ==, !=

In [77]:
'ali' == 45

False

In [79]:
10 == [1, 2, 3, 4]

False

In [80]:
10 != [1, 2, 3, 4]

True

In [81]:
a = (1, 2, 3)
b = [1, 2, 3]
a == b

False

In [82]:
a != b

True

In [83]:
a > b

TypeError: '>' not supported between instances of 'tuple' and 'list'

In [84]:
10 > [1, 2, 3]

TypeError: '>' not supported between instances of 'int' and 'list'

In [85]:
s = 'ankara'
k = s[2:]
m = 'kara'
k

'kara'

In [86]:
m

'kara'

In [87]:
id(k)

2065809897648

In [88]:
id(m)

2065808735664

In [89]:
k == m

True

In [90]:
# Aynı Türlerin Birbirleriyle Karşılaştırılması
a = [1, 2, 3]
b = [1, 2, 3]
a == b

True

In [91]:
a !=b

False

In [92]:
a = [1, 2, 3]
b = [1, 2, 4]

In [93]:
a == b

False

In [94]:
a > b

False

In [95]:
b > a

True

In [96]:
a = [1, 3, 3]
b = [1, 2, 4]
a > b

True

In [97]:
a = (1, 2, 3)
b = (1, 2, 3, 4)
a > b

False

In [98]:
b > a

True

In [99]:
[10, 20, 'ali'] > [10, 20, 30]

TypeError: '>' not supported between instances of 'str' and 'int'

In [100]:
a = [1, 'Ali', 2]
b = [1, 'Aliye', 2]
a < b

True

In [101]:
a = [1, 2, 3]
b = [1, 2.0, 3.0]
a == b

True

In [102]:
a = [1, 2, 3]
b = [1, 2.0, 4.0]
a > b

False

In [103]:
b > a

True

In [104]:
a = {1, 2, 2, 1, 3, 3, 4, 2}
b = {4, 3, 1, 2}
a == b

True

In [105]:
a

{1, 2, 3, 4}

In [106]:
b

{1, 2, 3, 4}

In [107]:
a = {1: 'Ali', 2: 'Veli'}
b = {1: 'Ali', 2: 'Selami'}
a == b

False

In [108]:
a >= b

TypeError: '>=' not supported between instances of 'dict' and 'dict'

##### Python Programlarının Çalıştırılması
python, python3

python sample.py

#### Satırların Girinti (Indent) Düzeyleri

indent level: bir satırın başından ilk boşluk olmayan karaktere kadarki uzaklığa girinti düzeyi denir. SPACE ve TAB

SPACE TAB SPACE SPACE ilk boşluksuz karakter
      a = 10

#### Python'da Deyimler

Deyim (statement) bir dildeki çalışma birimleridir. İki gruba ayrılır:
- Basit Deyimler ;
- Bileşik Deyimler

a = 10; b = 20; c = 30

#### Ifadesel Deyimler (Expression Statements)
expression
a = b
x = y + 10
z = foo(10) * 2

#### Bileşik deyimler
Kontrol deyimleri --> girinti olarak yazılmak zorunda   

bileşik deyimler bir anahtar sözcük ile başlatılır. (if, for, while) + başlık kısmı + ':' 
indent (girinti) 

ifade1; ifade2; ifade3 --> suite ':'

ifade1
ifade2
ifade3

while ifade: suite

while i < 10: ifade1; ifade2; ifade3

while i < 10:
    ifade1
    ifade2
    ifade3

* GECERSİZ *
while i < 10: ifade1
    ifade2
    ifade3

* GEÇERSİZ *
while i < 10:
ifade1
ifade2
ifade3

#### if deyimi

if deyimi bir koşulun doğru ya da yanlış olmasına göre birtakım deyimleri çalıştıran temel bir kontrol deyimidir. 

if koşul ifadesi: suit
else: suit

In [110]:
a = int(input('Bir değer giriniz: '))

if a % 2 == 0: # bu ifade true olursa ekrana çift yazdırır.
    print("Çift")
else:          # if'in yanındaki koşul ifadesi false olursa ekrana tek yazdırır.
    print("Tek")
print('Son')

Tek
Son

In [113]:
# ikinci dereceden bir denklemin kökünü bulalım.
# ax2 + bx + c

import math

a = float(input('a: '))
b = float(input('b: '))
c = float(input('c: ')) 

delta = b * b - 4 * a * c
if delta < 0:
    print('Kök yok')
else:
    x1 = (-b + math.sqrt(delta)) / (2 * a)
    x2 = (-b - math.sqrt(delta)) / (2 * a)
    print('x1 = {}, x2 = {}'.format(x1, x2))

x1 = -2.0, x2 = -2.0

if a > 0:
    ifade1
    ifade2
else:
    ifade3
    ifade4

ifade5

In [115]:
# Şimdi Üç sayının en büyüğünü ekrana yazdıran bir python programı yazalım.
a = int(input('a: '))
b = int(input('b: '))
c = int(input('c: '))

if a > b:
    if a > c:
        print(a)
    else:
        print(c)
else:
    if b > c:
        print(b)
    else:
        print(c)

11