In [2]:
### Bir listeyi elemanlarını yer değiştirirerek ters yüz ediniz.
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

i = 0
lena = len(a)
while i < lena // 2:
    a[i], a[lena - 1 - i] = a[lena - 1 - i], a[i]
    i += 1
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

i = 0
while i < lena // 2:
    a[i], a[-i - 1] = a[-i - 1], a[i]
    i += 1
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
while(s := input('Bir yazı giriniz: ')) != 'quit':
    print(s[::-1])

uq

In [6]:
while True:
    s = input("Bir yazı giriniz: ")
    if s == 'quit':
        break
    print(s[::-1])

males
nahzuğo
azyeb
tahres
ituq

#### FOR Döngüleri

In [7]:
# for <değişken> in <dizilim>: <suit>
# [else: <suit>]

# in anahtar sözcüğünün sağındaki dolaşılabilir nesnenin sıradaki elemanı döngü değişkenine atanır, sonra döngü deyimleri çalıştırılır.

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in a:
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [8]:
s = 'ankara'

for c in s: print(c)

a
n
k
a
r
a

In [9]:
s = {'Ali', 'Veli', 10, 12.4, 'Selami'}

for x in s:
    print(x, '=>', type(x))

Veli => <class 'str'>
10 => <class 'int'>
12.4 => <class 'float'>
Selami => <class 'str'>
Ali => <class 'str'>

In [10]:
d = {'Ali': 123, 'Veli': 478, 'Selami': 75, 'Ayşe': 642, 'Fatma': 39}

for key in d:
    print(key, '=>', d[key])

Ali => 123
Veli => 478
Selami => 75
Ayşe => 642
Fatma => 39

In [11]:
# Bir sözlüğü for döngüsüyle dolaşarak anahtarları elde ediniz. Yeni bir sözlük yaratarak dolaştığınız sözlüğün değerlerini anahtar,
# anahtarlarını da değer haline getiriniz. Sonra da her iki sözlüğü yazdırınız:

d = {'Ali': 123, 'Veli': 478, 'Selami': 75, 'Ayşe': 642, 'Fatma': 39}
k = dict()

for key in d:
    k[d[key]] = key

print(d)
print(k)

{'Ali': 123, 'Veli': 478, 'Selami': 75, 'Ayşe': 642, 'Fatma': 39}
{123: 'Ali', 478: 'Veli', 75: 'Selami', 642: 'Ayşe', 39: 'Fatma'}

In [12]:
# açım işlemi: (unwrap)

l = [('ali', 123), ('veli', 65), ('selami', 340), ('ayşe', 71)]
for name, no in l:
    print(name, no)

ali 123
veli 65
selami 340
ayşe 71

In [14]:
l = [('ali', 123, 1982), ('veli', 65, 1970), ('selami', 340, 1990), ('ayşe', 71, 1969)]
for name, no, year in l:
    print(name, no, year)

ali 123 1982
veli 65 1970
selami 340 1990
ayşe 71 1969

In [15]:
l = [('ali', 123, 1982), ('veli', 65, 1970), ('selami', 340, 1990), ('ayşe', 71, 1969)]
for t in l:
    print(t)

('ali', 123, 1982)
('veli', 65, 1970)
('selami', 340, 1990)
('ayşe', 71, 1969)

In [16]:
a = [('ali', 10), ('veli', 20), ('selami', 30), ('ayşe', 40), ('fatma', 50)]
b = []

for name, no in a:
    b.append((no, name))

print(a)
print(b)

[('ali', 10), ('veli', 20), ('selami', 30), ('ayşe', 40), ('fatma', 50)]
[(10, 'ali'), (20, 'veli'), (30, 'selami'), (40, 'ayşe'), (50, 'fatma')]

In [20]:
d = {'ali': 123, 'veli': 765, 'selami': 745, 'ayşe': 271, 'fatma': 754}

for key, value in d.items():
    print(key, value)

ali 123
veli 765
selami 745
ayşe 271
fatma 754

In [21]:
for i in range(1, 10):
    print(i, end=' ')
print()

1 2 3 4 5 6 7 8 9

In [22]:
for i in range(10):
    print(i, end=' ')
print()

0 1 2 3 4 5 6 7 8 9

In [23]:
for i in range(10, 20):
    print(i, end=' ')
print()

10 11 12 13 14 15 16 17 18 19

In [24]:
for i in range(1, 10, 2):
    print(i, end=' ')
print()

1 3 5 7 9

In [25]:
for i in range(10, 1, -2):
    print(i, end=' ')
print()

10 8 6 4 2

In [27]:
# Şimdi bir listedeki tek ve çift sayıları bularak onları başka bir listeye yerleştirelim.

a = [23, 56, 44, 12, 13, 97, 45, 39, 80 ,54]
odd = []
even = []

for i in a:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print("Tek: ", odd)
print("Çift:", even)

Tek:  [23, 13, 97, 45, 39]
Çift: [56, 44, 12, 80, 54]

In [28]:
# ord --> bir karakterin sayısal değerini biz verir.
# chr --> tam tersini yapmaktadır.
for i in range(ord('A'), ord('Z') + 1):
    print(chr(i), end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [29]:
a = [2, 5, 1, 9, 10]
for i in range(len(a)):
    a[i] *= a[i]

print(a)

[4, 25, 1, 81, 100]

In [30]:
# Bir listedeki en büyük elemanı bulmaya çalışalım.
# max, min

a = [3, 5, 7, 9, 21, 10, 62, 34, 9, 5, 8]

maxval = a[0]
for i in range(1, len(a)):
    if a[i] > maxval:
        maxval = a[i]

print(maxval)

62

In [34]:
for i in range(1, 11):
    print(i, end = " ")
else:
    print("\nfor ends..")

1 2 3 4 5 6 7 8 9 10
for ends..

In [37]:
# Klavyeden int bir değer okuyunuz. 1 'den bu değere kadar olan tek sayıların toplamını ekrana yazdırınız:

n = int(input('Bir sayi giriniz: '))

total = 0
for i in range(1, n + 1, 2):
    total += i

print("N: ", n)
print("Toplam: ", total)

N:  10
Toplam:  25

In [38]:
# Klavyeden bir sayı isteyiniz. Sayının asal çarpanlarını aralarına boşluk bırakara yazdırınız. Örnek
# Bir sayı giriniz: 20
# 2 2 5

n = int(input("Bir sayı giriniz: "))

div = 2

while n != 1:
    if n % div == 0:
        n //= div #n = n // div
        print(div, end=' ')
    else:
        div += 1

# kullanıcı 60 girsin
# n = 60, div = 2
# 60 % 2 == 0
# n = 60 // 2 = 30
# Çıktı: 2
# n = 30, div = 2
# 30 % 2 == 0
# n = 30 // 2 = 15
# Çıktı: 2 2
# n = 15, div = 2
# 15 % 2 != 0
# div = 2 + 1 = 3
# n = 15, div = 3
# 15 % 3 == 0
# n = 15 // 3 = 5
# Çıktı : 2 2 3
# n = 5, div = 4
# 5 % 4 != 0
# div = 4 + 1 = 5
# ..

2 2 3 5

In [39]:
# Klavyeden bir sayı okuyunuz. Sayının basamaklarını aralarına boşluk karakteri bırakarak yüksek anlamlı basamaktan
# düşük anlamlı basamağa doğru yazdırınız. Örnek:
# Bir sayı giriniz: 12345
# 1 2 3 4 5

n = int(input('Bir sayı giriniz: '))
s = str(n)

for c in s:
    print(c, end=' ')

1 2 3 4 5

In [40]:
n = int(input('Bir sayı giriniz: '))

digits = []
while n > 0:
    r = n % 10
    digits.append(r)
    n //= 10

for digit in reversed(digits):
    print(digit, end=' ')

1 2 3 4 5

In [ ]:
# Bir listede belli bir değerden kaç tane olduğunu yazdıran programı yazınız. (count fonksiyonu bunu yapıyordu. onu kullanmadan yapacağız)
# a = [1, 2, 2, 3, 4, 5, 2, 1, 2, 3, 1, 2]
# Aranacak değeri giriniz: 

# Klavyeden tek bir string olarak int değerleri boşluklarla ayrılmış biçimde giriniz. Bu int değerleri bir liste içerisine int olarak yerleştiriniz.
# Liste değerlerini aralarına boşluk karakterleri koyarak giriniz: