### KÜMELER

{ELEMAN LİSTESİ}

In [2]:
s = {1, 2, 3, 4, 5}

In [3]:
s

{1, 2, 3, 4, 5}

In [4]:
type(s)

set

In [5]:
s = {1, 2, 1, 1, 1, 3, 4, 3, 5, 5, 5, 4}
s

{1, 2, 3, 4, 5}

In [6]:
s = {1, 'Ali', (3, 4), 12.3}
s

{(3, 4), 1, 12.3, 'Ali'}

ancak her türden nesne küme elemanı yapılamaz. bir nesnenin küme elemanı olabilmesi için o nesneni hash'lenebiir (hashable) olması gerekmektedir. Örneğin listeler ya da kümeler hash'lenebilir değildir. Bu nedenle bir kümenin elemanı bir liste olamaz.

python'da bir nesnenin hash'lenebilir olması, o nesenin __hash__() yöntemine sahip olması ve değiştirilemez olması demektir.

int, float, str, tuple
__hash__

In [7]:
hash(42)

42

In [8]:
hash([1, 2, 3])

TypeError: unhashable type: 'list'

In [9]:
 s = {1, 'Ali', [2, 3], 12.3}

TypeError: unhashable type: 'list'

In [10]:
s = {1, 2, {3, 4, 5}, 6}

TypeError: unhashable type: 'set'

In [11]:
s = {1, 'Ali', ([2, 3], 4), 12.3}

TypeError: unhashable type: 'list'

In [12]:
# küme elemanlarına [...] operatörü ile bir indeks belirterek de erişemeyiz. Kümeler dilimlenemez de. Kümelerde * operatörü kullanılamamaktadır.
# Çünkü zaten küme elemanları birbirinden farklı olacağından yineleme yapılamaz. +
# boş bir küme yaratılamıyor. {}

In [13]:
s = set()
s

set()

In [14]:
type(s)

set

In [15]:
a = [1, 2, 2, 3, 1, 4]
a

[1, 2, 2, 3, 1, 4]

In [16]:
s = set(a)
s

{1, 2, 3, 4}

In [17]:
s = set('ankara')
s

{'a', 'k', 'n', 'r'}

In [18]:
s = {1, 2, 'Ali', (3 , 4)}
len(s)

4

In [19]:
s = {1, 'Ali', 2, 'Veli'}
'Ali' in s

True

In [20]:
1 in s

True

In [21]:
10 in s

False

In [22]:
10 not in s

True

In [23]:
a = {1, 2, 'Ali', 3}
b = {1, 'Ali'}

In [24]:
b.issubset(a)

True

In [25]:
b <= a

True

In [26]:
a = {1, 2, 'Ali', 3}
b = {1, 'Ali'}

In [27]:
a >= b

True

In [28]:
a.issuperset(b)

True

In [29]:
a = {1, 2, 3, 4, 5}
a < a

False

In [30]:
a <= a

True

In [31]:
a = {1, 2, 3, 4, 5}
a > a

False

In [32]:
a >= a

True

In [33]:
# isdisjoint
s = {1, 2, 3}
k = {'ali', 'veli', 'selami'}
s.isdisjoint(k)

True

In [34]:
# union | 
a = {1, 'Ali', 2}
b = {3, 'Veli', 2, 1}
c = a.union(b)

In [35]:
c

{1, 2, 3, 'Ali', 'Veli'}

In [36]:
c = a | b

In [37]:
c

{1, 2, 3, 'Ali', 'Veli'}

In [38]:
a = {1, 'Ali', 2}
b = [3, 'Veli', 2, 1]

In [39]:
c = a | b

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [40]:
a = {1, 'Ali', 2}
b = {3, 'Veli', 2, 1}
c = {'sacvit', 'veli', 100}
d = a.union(b).union(c)
d

{1, 100, 2, 3, 'Ali', 'Veli', 'sacvit', 'veli'}

In [41]:
d = a | b | c

In [42]:
d

{1, 100, 2, 3, 'Ali', 'Veli', 'sacvit', 'veli'}

In [43]:
a = {1, 2, 3, 'Ali'}
b = {1, 10, 'Ali'}
c = a.intersection(b)
c

{1, 'Ali'}

In [44]:
c = a & b

In [45]:
c

{1, 'Ali'}

In [46]:
set('ankara') & set('kastamonu')

{'a', 'k', 'n'}

In [47]:
s = {3, 4}
k = {4, 3}
id(s)

2547118565408

In [48]:
id(k)

2547118564288

In [49]:
s == k

True

In [50]:
# anagram
s = input('Birinci yazıyı giriniz: ')
k = input('İkinci yazıyı girinz: ')

print(set(s) == set(k))

True

In [51]:
#difference -
a = {1, 'Ali', 2, 'Veli'}
b = {1, 'Süleyman', 2}
c = a.difference(b)
c

{'Ali', 'Veli'}

In [52]:
c = a - b

In [53]:
c

{'Ali', 'Veli'}

In [54]:
# ^ --> iki kümenin ortak olmayan elemanları
a = {1, 'Ali', 2, 'Veli'}
b = {1, 'Süleyman', 2}

c = a ^ b
c

{'Ali', 'Süleyman', 'Veli'}

In [55]:
a = {1, 'Ali', 2}
a.add(100)
a

{1, 100, 2, 'Ali'}

In [56]:
a.add((10,20,30))

In [57]:
a

{(10, 20, 30), 1, 100, 2, 'Ali'}

In [58]:
# |= 
a = {1, 'Ali', 2}
a |= {1, 2, 10, 'Ali', 20}
a

{1, 10, 2, 20, 'Ali'}

In [59]:
a = {1, 'Ali', 2}
a.remove(2)
a

{1, 'Ali'}

In [60]:
a.remove(3)

KeyError: 3

In [61]:
a.discard(1)

In [62]:
a

{'Ali'}

In [63]:
a.discard(2)

In [64]:
a

{'Ali'}

In [65]:
# pop, clear, copy --> shallow copy

In [67]:
# Değiştirilemez kümeler (immutable)

# frozenset

fs = frozenset([1, 'Ali', 2, 'Veli'])
fs

frozenset({1, 2, 'Ali', 'Veli'})

In [68]:
s = {'ayse', 'ali', 'selami'}
fs & s

frozenset()

In [69]:
fs

frozenset({1, 2, 'Ali', 'Veli'})

In [70]:
s

{'ali', 'ayse', 'selami'}

### SÖZLÜKLER (Dictionaries)

ANAHTAR-DEĞER --> KEY-VALUE --> arama amaçlı --> başka dillerde bunlara "look up table", "hash table", "map"
dict

{ </anahtar/>: <değer>, </anahtar/>: <değer>, ...}

In [71]:
d = {'Ali': 123, 'Veli': 345, 'Selami': 34, 'Ayşe': 65, 'Fatma': 39}
d

{'Ali': 123, 'Veli': 345, 'Selami': 34, 'Ayşe': 65, 'Fatma': 39}

In [72]:
type(d)

dict

In [73]:
cities = {'Ankara': ['Çankaya', 'Ulus', 'Kızılay'], 'Eskişehir': ['Sivrihisar', 'Mihalıççık', 'Tepebaşı', 'Alpu', 'Seyitgazi'], 'Konya': ['Karatay', 'Meram', 'Çumra']}

In [74]:
cities

{'Ankara': ['Çankaya', 'Ulus', 'Kızılay'],
 'Eskişehir': ['Sivrihisar', 'Mihalıççık', 'Tepebaşı', 'Alpu', 'Seyitgazi'],
 'Konya': ['Karatay', 'Meram', 'Çumra']}

In [77]:
d = {'Ali': 123, 'Veli': 345, 'Selami': 34, 'Ayşe': 65, 'Fatma': 39}
d['Ayşe']

65

In [78]:
d['Veli']

345

In [79]:
d = {10: 'Ali', 'Veli': 20, 'Selami': 12.4}
d[10]

'Ali'

In [80]:
d['Selami']

12.4

In [81]:
d = {1: 'Ali', 2: 'Veli', 3: 'Selami', 4: 'Ayşe', 5: 'Fatma'}
d.get(3)

'Selami'

In [82]:
d[3]

'Selami'

In [83]:
d.get(100)

In [84]:
d = {'Ali yılmaz': ('Eskişehir', 1970, 'Odunpazarı'), 'Mehmet Şen': ('İstanbul', 1992, 'Şişli')}

In [85]:
birth_place, birth_date, region = d['Mehmet Şen']
print(birth_place, birth_date, region)

İstanbul 1992 Şişli

In [86]:
l = [(1, 'Adana'), (26, 'Eskişehir'), (6, 'Ankara'), (34, 'İstanbul'), (35, 'İzmir')]
d = dict(l)

In [87]:
d

{1: 'Adana', 26: 'Eskişehir', 6: 'Ankara', 34: 'İstanbul', 35: 'İzmir'}

In [88]:
d = dict(['ab', 'cd', 'ef', range(2), (10, 20), [30, 40]])

In [89]:
d

{'a': 'b', 'c': 'd', 'e': 'f', 0: 1, 10: 20, 30: 40}

In [90]:
#sözlükler değiştirilebilir (mutable) nesnelerdir.

d = {1: 'Ali', 2: 'Veli', 3: 'Selami', 4: 'Ayşe', 5: 'Fatma'}
d[3]

'Selami'

In [91]:
d[3] = 'beyza'

In [92]:
d[3]

'beyza'

In [93]:
d = {1: 'Ali', 2: 'Veli', 3: 'Selami', 4: 'Ayşe', 5: 'Fatma'}

d[10] = 'Fehmi'

In [94]:
d

{1: 'Ali', 2: 'Veli', 3: 'Selami', 4: 'Ayşe', 5: 'Fatma', 10: 'Fehmi'}

In [95]:
len(d)

6

In [96]:
3 in d

True

In [97]:
'Ali' in d

False

In [98]:
100 not in d

True

In [99]:
d = {1: 'Ali', 2: 'Veli', 3: 'Selami', 4: 'Ayşe', 5: 'Fatma'}

list(d)

[1, 2, 3, 4, 5]

In [100]:
tuple(d)

(1, 2, 3, 4, 5)

In [101]:
set(d)

{1, 2, 3, 4, 5}

In [102]:
# dict sınıfının metotları

d = {1: 'ali', 2: 'veli', 3: 'selami'}
k = d.copy()

In [103]:
k

{1: 'ali', 2: 'veli', 3: 'selami'}

In [104]:
d[1] = 'hüsnü'

In [105]:
d

{1: 'hüsnü', 2: 'veli', 3: 'selami'}

In [106]:
k

{1: 'ali', 2: 'veli', 3: 'selami'}

In [107]:
d.keys()

dict_keys([1, 2, 3])

In [108]:
d.values()

dict_values(['hüsnü', 'veli', 'selami'])

In [109]:
list(d.keys())

[1, 2, 3]

In [110]:
list(d.values())

['hüsnü', 'veli', 'selami']

In [111]:
# 'view'

d = {'ali': 10, 'veli': 20, 'selami': 30, 'ayşe': 40, 'fatma': 50}
k = d.keys()
v = d.values()

In [112]:
list(k)

['ali', 'veli', 'selami', 'ayşe', 'fatma']

In [113]:
list(v)

[10, 20, 30, 40, 50]

In [114]:
d['sacit'] = 60

In [115]:
list(k)

['ali', 'veli', 'selami', 'ayşe', 'fatma', 'sacit']

In [116]:
list(v)

[10, 20, 30, 40, 50, 60]

In [117]:
d.items()

dict_items([('ali', 10), ('veli', 20), ('selami', 30), ('ayşe', 40), ('fatma', 50), ('sacit', 60)])

In [119]:
d.pop('ali')

10

In [120]:
d

{'veli': 20, 'selami': 30, 'ayşe': 40, 'fatma': 50, 'sacit': 60}

In [122]:
d.update([('beyza', 40)])

In [123]:
d

{'veli': 20, 'selami': 30, 'ayşe': 40, 'fatma': 50, 'sacit': 60, 'beyza': 40}

In [124]:
d.update(oguzhan=58)

In [125]:
d

{'veli': 20,
 'selami': 30,
 'ayşe': 40,
 'fatma': 50,
 'sacit': 60,
 'beyza': 40,
 'oguzhan': 58}

In [126]:
# setdefault
d.setdefault('ayşe')

40

In [127]:
d.setdefault('Siracettin', 100)

100

In [128]:
d

{'veli': 20,
 'selami': 30,
 'ayşe': 40,
 'fatma': 50,
 'sacit': 60,
 'beyza': 40,
 'oguzhan': 58,
 'Siracettin': 100}

In [129]:
d.setdefault('ayşe', 50)

40

In [130]:
d

{'veli': 20,
 'selami': 30,
 'ayşe': 40,
 'fatma': 50,
 'sacit': 60,
 'beyza': 40,
 'oguzhan': 58,
 'Siracettin': 100}

In [131]:
# d[key] = value
# d.update([(key, value)])
# d.setdefault(key, value)

### STRINGLER

STR sınıfı --> değiştirilemez (immutable)

In [132]:
s = str()
len(s)

0

In [133]:
s = ''
len(s)

0

In [134]:
s = 'ankara'
s[2]

'k'

In [135]:
s[2:4]

'ka'

In [136]:
s[2:]

'kara'

In [137]:
s[:4]

'anka'

In [138]:
s = 'ankara'
s[-1]

'a'

In [139]:
s[-3:]

'ara'

In [140]:
s[1:6:2]

'naa'

In [141]:
s[::-1]

'arakna'

In [142]:
s = 'ankara'

In [143]:
s[0] = 'A'

TypeError: 'str' object does not support item assignment

In [144]:
s = 'Ankara'
list(s)

['A', 'n', 'k', 'a', 'r', 'a']

In [145]:
tuple(s)

('A', 'n', 'k', 'a', 'r', 'a')

In [146]:
set(s)

{'A', 'a', 'k', 'n', 'r'}

In [147]:
len(s)

6

In [148]:
'k' in s

True

In [149]:
'k' not in s

False

In [150]:
s = 'ankara, izmir, istanbul'

In [151]:
'ankara' in s

True

In [152]:
s = 'ali' 'veli'
s

'aliveli'

In [153]:
s = 'ali' "veli"

In [154]:
s

'aliveli'

In [157]:
s = 'bugün hava ' \
'çok güzel'

In [158]:
s

'bugün hava çok güzel'

In [159]:
s = 'bugün hava çok güzel'
k = s.capitalize()

In [160]:
k

'Bugün hava çok güzel'

In [161]:
name = 'beyza aldanmaz'
k = name.title()

In [162]:
k

'Beyza Aldanmaz'

In [163]:
s = 'ankara'
k = s.center(20)
k

'       ankara       '

In [165]:
k = s.center(20, 'x')

In [166]:
k

'xxxxxxxankaraxxxxxxx'

In [167]:
s = 'ankara'
result = s.find('k')

In [168]:
result

2

In [169]:
result = s.find('ar')
result

3

In [170]:
s = 'mal sahibi mülk sahibi hani bunun ilk sahibi'
result = s.find('sahibi', 15)
result

16

In [171]:
s[result]

's'

In [172]:
s[result:]

'sahibi hani bunun ilk sahibi'

In [174]:
s = 'ankara'
s.index('m')

ValueError: substring not found

In [175]:
s = 'ankara'
n = s.rfind('a')

In [176]:
n

5

In [178]:
s.count('a')

3

In [179]:
s = 'ankara06'
s.isalpha()

False

In [180]:
s.isalnum()

True

In [181]:
s.isdigit()

False

In [182]:
s = '       '
s.isspace()

True

In [ ]:
# isxxx python standart kütüphane dokümanlarndan bakabilirsin.